@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: BeeLeave;
  src: url("../fonts/BeeLeave.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a4deea+0,18b4f2+100&0.14+0,0.58+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(164, 222, 234, 0.14) 0%, rgba(24, 180, 242, 0.58) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#24a4deea", endColorstr="#9418b4f2",GradientType=0 );
  /* IE6-9 */
  overflow: hidden;
}

.container {
  position: relative;
  width: 1050px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transform: skewY(-10deg);
}
.container .card {
  position: relative;
  width: 300px;
  height: 400px;
  background: #fff;
  transition: 0.5s;
}
.container .card .imgBx {
  position: relative;
  width: 300px;
  height: 200px;
  background: #00c7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .card .imgBx img {
  max-width: 100px;
  filter: invert(100%);
}
.container .card .imgBx h3 {
  position: relative;
  color: #fff;
  margin-top: 10px;
  font-size: 22px;
  letter-spacing: 1.5px;
  font-family: BeeLeave;
}
.container .card .content {
  position: relative;
  width: 100%;
  height: 200px;
  padding: 20px;
  font-family: BeeLeave;
  font-weight: 700;
  line-height: 40px;
  font-size: 20px;
  background-color: #fff;
  color: #777;
  text-align: center;
}
.container .card .content img {
  margin-top: 18px;
  max-width: 60px;
}
.container .card .content:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 400px;
  background: linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.1));
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
  pointer-events: none;
  z-index: -1;
}
.container .card:hover .content:before {
  transform: translateY(40px) skewX(45deg);
  filter: blur(5px);
  opacity: 0.5;
}
.container .card:nth-cild(1) {
  z-index: 3;
}
.container .card:nth-cild(2) {
  z-index: 2;
}
.container .card:before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  height: 15px;
  background: #00c0f6;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
}
.container .card:after {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 15px;
  height: 100%;
  background: #00c0f6;
  transform-origin: left;
  transform: skewY(45deg);
  transition: 0.5s;
  border-bottom: 200px solid #d9d9d9;
}
.container .card:hover {
  transform: translateY(-40px);
}